{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="landing-container">
            <h1>Welcome, {{ user.username }}!</h1>
            <p>This is your landing page for testing functionality.</p>

        </div>
    </div>
</body>
</html>
