<nav class="navbar">
    <div class="container">
        <a href="{% url 'landingpage' %}" class="navbar-brand">
            <span class="brand-text">TravelSnips</span>
        </a>
        <button class="navbar-toggler" type="button" id="mobile-menu-toggle">
            <span class="navbar-toggler-icon">☰</span>
        </button>
        <div class="navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'create_post' %}" class="nav-link">Create Post</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="userMenu">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userMenu">
                            <a href="#" class="dropdown-item">Profile</a>
                            <a href="{% url 'linked_accounts' %}" class="dropdown-item">Linked Accounts</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>